body {
  font-size: 18px; }

  .container {
    margin: 0 auto;
    width: 55em; }

    .unstyled-list, .project-list, .task-list, .task-actions {
      list-style: none;
      margin-left: 0;
      padding-left: 0; }

      .project {
        margin-bottom: 0.618em; }
        .project .project-title {
          display: block; }
          .project span {
            margin-right: 1em; }
            .project span:last-child {
              margin-right: 0; }

h2.project-title {
  font-size: 1.618em; }

  .project-meta {
    color: #888;
    font-size: 0.918em; }
    .project-meta span {
      margin-right: 1em; }

.task-title {
  display: block; }

  .task-meta {
    font-size: 0.816em;
    color: #999; }

    .task-action {
      margin-right: 1em;
      display: inline-block; }

      .add-task-title {
        margin-bottom: 0.618em; }

        .site-footer {
          padding-top: 1em;
          padding-bottom: 1em; }
          .site-footer p {
            margin: 0; }
