{% extends "layout/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-6">
		<form class="login-form" method="POST" action="/login">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.email(size=120, class="form-control", placeholder="Email") }}
			</div> <!-- .form-group -->

			<div class="form-group">
				{{ form.password(size=120, class="form-control", placeholder="Password") }}
			</div> <!-- .form-group -->

			{# <div class="form-group"> #}
			{# 	{% for error in form.recaptcha.errors %} #}
			{# 		{{ error }} #}
			{# 	{% endfor %} #}
      {#  #}
			{# 	{{ form.recaptcha }} #}
			{# </div> <!-- .form-group --> #}

			<div class="form-group">
				<input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
			</div>
			<p>Don't have an account? <a href="/register">Register now!</a></p>
		</form>
	</div> <!-- .col-xs-3 -->
</div> <!-- .row -->

<hr>

{% endblock %}
