{% extends "layout/base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<a class="btn btn-lg btn-primary" href="/projects/add"><i class="fui-plus"></i> Add a new project</a>
<hr>

<ul class="project-list">
  {% for item in project_list %}
  <li class="project">
		<span class="project-title"><a href="/project/{{ item._id }}"><strong>{{ item.title }}</strong></a></span>
		<span class="project-date"><i class="fui-calendar"></i> {{ item.created_at }}</span>
		<span class="project-author"><i class="fui-user"></i> {{ item.author }}</span>
  </li>
  {% endfor %}
</ul> <!-- .project-list -->
{% endblock %}
