// @import "normalize";

/*
 * Layout 
 */

body {
	margin-top: 0.619em;
	font-size: 18px;
}

.container {
  margin: 0 auto;
  width: 55em;
}

.unstyled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

/*
 * Projects 
 */

.project-list {
	@extend .unstyled-list;
}

.project {
	margin-bottom: 0.618em;

	.project-title {
		display: block;
	}

	span {
		margin-right: 1em;
		&:last-child { margin-right: 0; }
	}
}

/*
 * Project 
 */

h2.project-title {
	font-size: 1.618em;
}

.project-meta {
	color: #888;
	font-size: .918em;

	span {
		margin-right: 1em;
	}
}

/*
 * Tasks
 */

.task-list {
	@extend .unstyled-list;
}

.task-title {
	display: block;
}

.task-meta {
	font-size: 0.816em;
	color: #999;
}

.task-actions {
	@extend .unstyled-list;
}

.task-action {
	margin-right: 1em;
	display: inline-block;
}

.add-task-title {
	margin-bottom: 0.618em;
}

/*
 * Footer 
 */

.site-footer {
	padding-top: 1em;
	padding-bottom: 1em;

	p { margin: 0; }
}
